// CDN assets
@import "//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css";

// Normalize
@import "normalize";

// Bourbon stuffs
@import "bourbon";

// Bitters Variables
@import "bitters-variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
@import "neat-settings";

// Extends
@import "bitters/app/assets/stylesheets/extends/button";
@import "bitters/app/assets/stylesheets/extends/clearfix";
@import "bitters/app/assets/stylesheets/extends/errors";
@import "bitters/app/assets/stylesheets/extends/flashes";
@import "bitters/app/assets/stylesheets/extends/hide-text";

// Typography and Elements
@import "bitters/app/assets/stylesheets/typography";
@import "bitters/app/assets/stylesheets/forms";
@import "bitters/app/assets/stylesheets/tables";
@import "bitters/app/assets/stylesheets/lists";
@import "bitters/app/assets/stylesheets/buttons";

// Neat
@import "neat/app/assets/stylesheets/neat";

// Color names
@import "colors";

// vars
$imgurl: "/assets/img";

// mixins
@mixin center-v($enable: true) {
  @if $enable {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  @else {
    position: static;
    top: 0;
    transform: translateY(0);
  }
}
