@charset "utf-8";

@import "//fonts.googleapis.com/css?family=Oswald:300,400,700|Raleway:300";

@import "base";

// ==================================================
// Main stylesheet

// base styles
html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

hr {
  border-bottom: 2px solid tint($base-font-color, 20);
  width: 40%;
  margin: 1.5em auto;
}

.hide {
  display: none;
}

.wrapper {
  @include outer-container(100%);
  @include clearfix;

  .column-1, .column-2 {
    @include media($large) {
      @include span-columns(6 of 12, block-collapse);
    }
  }

  background: #fff;
}

.masthead {
  .hero {
    .hero-logo img, .hero-logo svg {
      width: 400px;
      max-width: 100%;
      margin-bottom: 6em;
    }

    .hero-inner {
      @include clearfix;

      background: $lcm-red;
      padding: 6em 2em;
      text-align: center;
      color: #fff;

      .hero-copy {
        h1 {
          margin-bottom: 2em;
          font-family: 'Raleway', $sans-serif;
          font-size: 1.8em;
          font-weight: 300;
          line-height: 1;
          letter-spacing: .1em;
          text-transform: uppercase;

          @include media($medium-up) {
            font-size: 2em;
            letter-spacing: .2em;
          }
        }

        h3 {
          font-size: 1em;
          font-weight: 100;
          letter-spacing: .1em;
          text-transform: uppercase;

          @include media($medium-up) {
            font-size: 1.2em;
          }
        }

        p {
          font-weight: 100;
          font-size: 1.2em;
          line-height: 1.2;
          margin-top: 1em;
          letter-spacing: .05em;

          img, svg {
            height: 1em;
            margin: .3em 0 0;

            @include media($medium-up) {
              margin: 0 .2em;
            }
          }

          @include media($medium-up) {
            font-size: 1.4em;
          }
        }

        a {
          color: rgba(#fff, .6);

          &:hover {
            color: rgba(#fff, 1);
          }
        }
      }

      hr {
        border-color: rgba(#fff, .4);
        margin: 5em auto;
      }

      .hero-store {
        h3 {
          margin: 0 auto .8em;
          display: inline-block;
          border-radius: 4px;
          padding: .3em .5em .3em .7em;
          letter-spacing: .2em;
          background: #fff;
          color: $lcm-red;
          font-size: .8em;
          font-weight: 400;
          text-transform: uppercase;

          @include media($medium-up) {
            font-size: 1em;
          }
        }

        ul li {
          display: inline-block;
          margin: 0 .3em;
          font-size: .7em;

          @include media($medium-up) {
            font-size: 1em;
          }
        }
      }
    }
  }

  .tooltip {
    display: inline-block;
    position: relative;
    z-index: 999;

    img, svg {
      height: 3em;
      vertical-align: baseline;
      transition: opacity .3s;

      path {
        transition: fill .3s;
      }
    }

    &:hover img, &:hover svg {
      opacity: .6;
      path {
        fill: $lcm-darkblue;
      }
    }
  }

  /* Trigger text */

  .tooltip-item {
    cursor: pointer;
    display: inline-block;
  }

  /* Gap filler */

  .tooltip-item::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 20px;
    top: 110%;
    left: 50%;
    pointer-events: none;
    transform: translate3d(-50%,-100%,0);
  }

  .tooltip:hover .tooltip-item::after {
    pointer-events: auto;
  }

  /* Tooltip */

  .tooltip-content {
    @include clearfix;
    position: absolute;
    z-index: 9999;
    width: 120px;
    left: 50%;
    margin: 0 0 20px -60px;
    top: 110%;
    font-size: 1rem;
    letter-spacing: 0;
    text-align: center;
    // box-shadow: -3px -3px 15px rgba(#000, 0.1);
    background: $lcm-darkblue;
    border-radius: 2px;
    opacity: 0;
    cursor: default;
    pointer-events: none;

    transform: translate3d(0,10px,0) rotate3d(1,1,0,50deg);
    transition: opacity 0.3s, transform 0.3s;
  }

  .tooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
    transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  }

  /* Arrow */

  .tooltip-content::before {
    content: '';
    top: 0;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: $lcm-darkblue;
    border-width: 10px;
    margin-left: -10px;
    transform: translate3d(0,-100%,0);
  }

  /* Tooltip content*/

  .tooltip-text {
    font-size: 1em;
    line-height: 1;
    display: block;
    padding: .5em;
  }

  .video {
    margin: auto;
    @include media($large) {
      width: 100%;
    }

    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
      padding-bottom: 43%;
      height: 0;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .instagram {
    @include clearfix;

    figure {
      position: relative;
      margin: 0;
      padding: 0;
      // background: $lcm-gray;
      float: left;
      overflow: hidden;
      text-align: center;
      cursor: pointer;
      width: 50%;

      &:last-child {
        display: none;
      }

      @include media($large) {
        width: 33.33%;

        &:last-child {
          display: block;
        }
      }

      .thumb {
        position: relative;
        display: block;
        width: 100%;
        opacity: 1;
        transition: opacity 0.3s, transform 0.3s;
        transform: scale(1.15);
      }

      &:hover .thumb {
        opacity: 0.8;
        transform: scale(1);
      }

      figcaption::before,
      figcaption::after {
        pointer-events: none;
      }

      figcaption,
      figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      figcaption > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }

      figcaption .likes {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        transform-origin: top;
        transform: rotateX(90deg);
        transition: transform .3s $easeOutQuart;

        .likes-inner {
          background: $lcm-red;
          margin: 5px;
          padding: 5px;
          border-radius: 3px;
          font-size: .8em;
          line-height: 1;
          color: #fff;

          b {
            font-weight: 400;
          }
        }
      }

      &:hover figcaption .likes {
        transform: rotateX(0);
      }

      figcaption .caption {
        position: absolute;
        z-index: 5;
        width: 100%;
        bottom: 0;
        overflow: hidden;

        transform-origin: bottom;
        transform: rotateX(90deg);
        transition: transform .3s $easeOutQuart;

        .caption-inner {
          background: rgba(darken($lcm-gray-dark, 20), .7);
          margin: 5px;
          padding: 5px;
          border-radius: 3px;
          font-size: .85em;
          font-weight: 300;
          line-height: 1;
          text-align: left;
          color: #fff;
        }
      }

      &:hover figcaption .caption {
        transform: rotateX(0);
      }

    }
  }
}

.albuminfo {
  background: #fff;

  hr {
    border-width: 4px;
    border-color: rgba($lcm-gray, .2);
  }

  .hashlcm {
    .hashlcm-inner {
      @include outer-container;
      @include clearfix;
      padding: 2em;

      @include media($medium-up) {
        padding: 8em 2em 4em;
        padding: 4em;
      }
    }

    h2 {
      text-align: center;
    }

    img, svg {
      width: 100%;

      @include media($medium-up) {
        width: 80%;
      }
    }
  }

  .tracklist {
    .tracklist-inner {
      @include outer-container;
      @include clearfix;

      padding: 0 2em 4em;
    }

    img, svg {
      display: block;
      margin: auto;
      width: 90%;

      @include media($medium-up) {
        width: 70%;
      }
    }
  }

  .themuhibbain {
    text-align: center;

    img, svg {
      width: 100%;
    }
  }

  .promo {
    padding: 4em 2em 0;
    text-align: center;

    @include media($medium-up) {
      padding-top: 8em;
    }

    h3 {
      display: inline-block;
      margin-bottom: .2em;
      border-radius: 4px;
      padding: .3em .5em .3em .6em;
      letter-spacing: .1em;
      background: $lcm-red;
      color: #fff;
      font-size: 1.2em;
      font-weight: 300;
      text-transform: uppercase;

      @include media($medium-up) {
        font-size: 1.4em;
      }

      span {
        font-weight: 400;
      }
    }

    h4 {
      font-size: 1em;
      font-weight: 300;
      letter-spacing: .1em;

      @include media($medium-up) {
        font-size: 1.2em;
      }
    }

    .bunting {
      margin-top: 1em;
      text-align: center;

      img, svg {
        width: 100%;

        @include media($medium-up) {
          width: 80%;
        }
      }
    }
  }
}

.footer {
  $footer-color: tint($base-font-color, 20);

  @include outer-container(100%);
  @include clearfix;

  .footer-left, .footer-right {
    @include media($large) {
      @include span-columns(6 of 12, block-collapse);
    }
  }

  background: #fff;

  padding: 2em 2em 6em;
  width: 100%;
  text-align: center;

  .footer-left {
    margin-bottom: 3em;
    text-align: center;

    @include media($large) {
      margin-bottom: 0;
      text-align: left;
    }

    .footer-labels li {
      display: inline-block;
    }

    img, svg {
      vertical-align: middle;
      // opacity: .5;
      margin: 0 .2em;
      height: 2.8em;
      transition: opacity .3s;
    }

    a:hover img, a:hover svg {
      // opacity: 1;
      opacity: .8;
    }
  }

  .footer-right {
    .footer-text {
      @include media($large) {
        float: right;
        text-align: right;
      }

      color: $footer-color;

      p {
        margin: 0;
        font-size: .8em;
        line-height: 1.1;
      }
      p.manager {
        font-size: 1em;
        line-height: 1.1;
      }

      a {
        color: $footer-color;
        &:hover {
          color: tint($footer-color, 40);
        }
      }
    }

    ul.footer-social {
      margin-bottom: .5em;

      @include media($large) {
        float: right;
        margin-left: 1em;
      }

      li {
        display: inline-block;
        font-size: 1em;
        padding-right: .5em;
        font-weight: 300;
        letter-spacing: .08em;
        line-height: 2;
        height: 2em;
        color: $footer-color;

        &:last-child {
          padding-right: 0;
        }

        a {
          color: $footer-color;
          display: block;

          &:hover {
            color: transparentize($footer-color, 0);
          }
        }
      }

      img, svg {
        // opacity: .5;
        height: 2em;
        padding: 1px;
        transition: opacity .2s;

        &:hover {
          // opacity: 1;
          opacity: .8;
        }
      }
    }
  }
}
