@charset "utf-8";

@import "base";
@import "//fonts.googleapis.com/css?family=Questrial|Sanchez:400italic,400";

$bg-color: #161414;
$font-color: tint($bg-color, 60);

body {
  background: $bg-color;
  color: $font-color;
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

button {
  transition: background .3s;
}

.profile-outer {
  background: $bg-color;
  position: relative;
  z-index: 10;
  width: 100%;
  box-shadow: 0 0 3em rgba(#000, .5);
}

.profile-wrapper {
  @include outer-container;
  @include clearfix;

  padding-top: 4em;

  @include media($medium-up) {
    padding-top: 6em;
  }

  .row {
    @include row;
  }

  .logo {
    text-align: center;

    @include media($medium-up) {
      @include span-columns(5 of 12);
      text-align: left;
    }

    @include pad(1em);

    img {
      width: 80%;

      @include media($medium-up) {
        width: 100%;
      }

      transition: transform .3s $easeOutBack;
      transform: rotate(-10deg);

      &:hover {
        transform: rotate(0);
      }
    }
  }

  .content {
    @include media($medium-up) {
      @include span-columns(7 of 12);
    }

    @include pad(1em);
  }

  .themuhibbain-pic {
    padding-top: 5em;

    img {
      display: block;
    }
  }

  &.profile-en {
    article.profile-ms {
      display: none;
    }
  }
  &.profile-ms {
    article.profile-en {
      display: none;
    }
  }

  article {
    $sans-serif: 'Questrial', $sans-serif;
    $serif: 'Sanchez', $serif;

    @include clearfix;

    .lang {
      @include clearfix;
      font-family: $sans-serif;
      margin-bottom: 2em;
    }

    .type {
      border-bottom: 1px solid;
      font-size: .7em;
      font-weight: 800;
      padding: .3em 0;
      float: left;
      text-transform: uppercase;
    }

    .lg {
      font-size: .7em;
      font-weight: 800;
      padding: .5em .8em;
      float: right;
      text-transform: uppercase;
    }

    h1 {
      color: $grass-light;
      font-family: $serif;
      font-size: 1.8em;
      font-weight: 700;
      margin-bottom: .5em;

      @include media($medium-screen) {
        font-size: 2.6em;
      }
    }

    h2 {
      font-family: $serif;
      font-style: italic;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.4em;
      margin-bottom: 1.1em;

      @include media($medium-screen) {
        font-size: 1.3em;
      }
    }

    h3 {
      color: $blue;
      font-family: $serif;
      font-size: 1.4em;
      font-weight: 400;
      line-height: 1.3em;
      margin-bottom: 1em;
      letter-spacing: .1em;
      // text-transform: uppercase;
    }

    p.date {
      color: rgba($font-color, .5);
      font-family: $serif;
      font-style: italic;
      font-size: .9em;
      // margin-bottom: .3em;
    }

    p {
      font-family: $sans-serif;
      line-height: 1.5em;
      font-size: 1.05em;
      margin-bottom: 1.5em;
    }

    a.read-more {
      display: inline-block;
      font-family: $sans-serif;
      font-weight: 700;
      font-size: .8em;
      text-transform: uppercase;
      margin-left: .2em;
      position: relative;

      span {
        font-family: $sans-serif;
        font-style: normal;
        position: absolute;
        font-size: 1.5em;
        top: -1px;
        right: -12px;
      }
    }

    hr {
      width: 3em;
      margin: 4em 0 .3em;
      border-color: $lcm-red;
      border-width: 2px;
    }

    p.author {
      font-family: $sans-serif;
      color: $lcm-red;
      letter-spacing: .1em;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
}
