@charset "utf-8";

// @import "//fonts.googleapis.com/css?family=Questrial|Sanchez:400italic,400|Raleway:300,500";
@import "//fonts.googleapis.com/css?family=Raleway:300,500";

@import "base";

$brown-dark: #1f1d1d;

body {
  background: #fff;
  color: $ch-gray-1;
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

button {
  outline: none;
  transition: background .3s;
}

article {
  $sans-serif: 'Raleway', $sans-serif;
  $serif: 'Raleway', $serif;

  @include clearfix;

  .lang {
    @include clearfix;
    font-family: $sans-serif;
    margin-bottom: 2em;
  }

  .social-plugins {
    float: left;
    margin-top: 0;
  }

  .type {
    border-bottom: 1px solid;
    font-size: .7em;
    font-weight: 300;
    letter-spacing: .05em;
    padding: .3em 0;
    float: left;
    text-transform: uppercase;
  }

  .lang-btn {
    font-size: .7em;
    font-weight: 300;
    letter-spacing: .05em;
    padding: .5em .8em;
    float: right;
    text-transform: uppercase;
  }

  h1 {
    color: $ch-green-1;
    font-family: $serif;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: .5em;

    @include media($medium-up) {
      font-size: 2.6em;
    }
  }

  h2 {
    font-family: $serif;
    // font-style: italic;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 1.1em;

    @include media($medium-up) {
      font-size: 1.5em;
    }
  }

  h3 {
    color: $ch-white-2;
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.3em;
    margin: 1em 0;
    letter-spacing: .1em;
    text-transform: uppercase;

    @include media($medium-up) {
      font-size: 1.6em;
    }

    img {
      height: 1em;
    }
  }

  p.date {
    display: none;

    color: rgba($ch-white-1, .5);
    font-family: $serif;
    font-style: italic;
    font-size: .9em;
    // margin-bottom: .3em;
  }

  p {
    font-family: $sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    font-size: 1.1em;
    margin-bottom: 2em;
  }

  h2:last-child, p:last-child {
    margin-bottom: 0;
  }

  a.read-more {
    display: inline-block;
    font-family: $sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative;

    span {
      font-family: $sans-serif;
      font-style: normal;
      position: absolute;
      font-size: 1.5em;
      top: -1px;
      right: -12px;
    }
  }

  hr {
    width: 3em;
    margin: 4em 0 .3em;
    border-color: $lcm-red;
    border-width: 2px;
  }

  p.author {
    font-family: $sans-serif;
    color: $lcm-red;
    letter-spacing: .05em;
  }
}

.profile-outer {
  &:lang(en) {
    :lang(ms) {
      display: none;
    }
  }
  &:lang(ms) {
    :lang(en) {
      display: none;
    }
  }
}

.profile-masthead {
  background-color: $brown-dark;
  background-image: url(bg/bg01.png), url(../img/profile-header-800.jpg);
  background-repeat: repeat, no-repeat;
  background-position: top left, center center;
  background-size: auto, cover;
  padding: 6em 0 3em;
  color: $ch-white-1;

  @include media($medium-up) {
    background-image: url(bg/bg01.png), url(../img/profile-header-1800.jpg);
    padding-bottom: 6em;
  }

  .logo-wrapper, .article-header {
    @include outer-container;
    @include clearfix;
  }

  .logo {
    padding: 1em 1em 5em;
    text-align: center;

    @include media($medium-up) {
      margin: auto;
      width: 70%;
    }

    img {
      width: 100%;

      @include media($medium-up) {
        width: 70%;
      }

      transition: transform .3s $easeOutBack;
      transform: rotate(-10deg);

      &:hover {
        transform: rotate(0);
      }
    }
  }

  .article-header article {
    padding: 1em;

    @include media($medium-up) {
      margin: auto;
      width: 70%;
    }

    a {
      color: $ch-white-2;
      &:hover {
        color: $lcm-red;
      }
    }
  }
}

.profile-middle {
  // background-color:    $ch-white-1;
  // background-image:    url('bg/bg03.png'), url('bg/bg04.png'), url('bg/bg02.png');
  // background-repeat:   no-repeat,          no-repeat,          repeat;
  // background-size:     100% 15em,          100% 15em,          auto auto;
  // background-position: top center,         bottom center,      top left;

  color: #8d85a3;
  position: relative;

  @include outer-container;
  @include clearfix;

  .bg {
    @include span-columns(3 of 12);
    position: relative;
    height: 1000px;

    @include media($small) {
      display: none;
    }

    .bg-inner {
      background: url(/assets/img/profile-bg-1.jpg) no-repeat center right;
      background-size: cover;
      position: absolute;
      right: 0;
      height: 100%;
      width: 1800px;
    }
  }

  .content {
    @include span-columns(9 of 12);
    padding: 6em 1em 3em;

    @include media($small) {
      @include span-columns(12 of 12);
    }
  }

  h3 {
    color: $ch-blue-1;
  }

  p.date {
    color: $ch-white-2;
  }

  img.tm-white {
    display: block;
    width: 70%;
    margin: auto;
    padding-bottom: 3em;

    @include media($medium-up) {
      float: right;
      width: 50%;
      margin-left: 1em;
      padding: 0;
    }
  }
}

.profile-bottom {
  background: $brown-dark;
  color: $ch-white-2;
  padding-bottom: 0;

  .content {
    @include outer-container;
    @include clearfix;

    article {
      padding: 6em 1em 1em;

      @include media($medium-up) {
        margin: auto;
        width: 70%;
      }
    }
  }

  .themuhibbain-black {
    padding-top: 3em;

    img {
      display: block;
    }
  }
}
