@charset "utf-8";

@import "base";
@import "//fonts.googleapis.com/css?family=Questrial|Sanchez:400italic,400";

$bg-color: #1f1d1d;
$font-color: #fff;

body {
  background: #fff;
  color: $font-color;
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

button {
  transition: background .3s;
}

article {
  $sans-serif: 'Questrial', $sans-serif;
  $serif: 'Sanchez', $serif;

  @include clearfix;

  .lang {
    @include clearfix;
    font-family: $sans-serif;
    margin-bottom: 2em;
  }

  .type {
    border-bottom: 1px solid;
    font-size: .7em;
    font-weight: 800;
    padding: .3em 0;
    float: left;
    text-transform: uppercase;
  }

  .lang-btn {
    font-size: .7em;
    font-weight: 800;
    padding: .5em .8em;
    float: right;
    text-transform: uppercase;
  }

  h1 {
    color: $ch-green-1;
    font-family: $serif;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: .5em;

    @include media($medium-up) {
      font-size: 2.6em;
    }
  }

  h2 {
    font-family: $serif;
    font-style: italic;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 1.1em;

    @include media($medium-up) {
      font-size: 1.5em;
    }
  }

  h3 {
    color: $ch-white-2;
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 1em;
    letter-spacing: .1em;
    // text-transform: uppercase;
  }

  p.date {
    color: rgba($font-color, .5);
    font-family: $serif;
    font-style: italic;
    font-size: .9em;
    // margin-bottom: .3em;
  }

  p {
    font-family: $sans-serif;
    line-height: 1.5em;
    font-size: 1.05em;
    margin-bottom: 1.5em;
  }

  h2:last-child, p:last-child {
    margin-bottom: 0;
  }

  a.read-more {
    display: inline-block;
    font-family: $sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative;

    span {
      font-family: $sans-serif;
      font-style: normal;
      position: absolute;
      font-size: 1.5em;
      top: -1px;
      right: -12px;
    }
  }

  hr {
    width: 3em;
    margin: 4em 0 .3em;
    border-color: $lcm-red;
    border-width: 2px;
  }

  p.author {
    font-family: $sans-serif;
    color: $lcm-red;
    letter-spacing: .1em;
  }
}

.profile-outer {
  &:lang(en) {
    article:lang(ms) {
      display: none;
    }
  }
  &:lang(ms) {
    article:lang(en) {
      display: none;
    }
  }
}

.profile-masthead {
  background: url(bg/bg01.png), url(../img/header1.jpg) no-repeat;
  background-color: $bg-color;
  background-position: top left, center center;
  background-size: auto, cover;

  padding: 6em 0 1em;
  @include media($medium-up) {
    padding-bottom: 3em;
  }

  .logo-wrapper, .article-header {
    @include outer-container;
  }

  .logo {
    margin: auto;
    text-align: center;
    padding: 1em 1em 5em;

    @include media($medium-up) {
      width: 70%;
    }

    img {
      width: 100%;

      @include media($medium-up) {
        width: 70%;
      }

      transition: transform .3s $easeOutBack;
      transform: rotate(-10deg);

      &:hover {
        transform: rotate(0);
      }
    }
  }

  .article-header article {
    margin: auto;
    padding: 1em;

    @include media($medium-up) {
      width: 70%;
    }
  }
}

.profile-middle, .profile-bottom {
  padding: 1em 0;
  background: #fff;

  @include media($medium-up) {
    padding: 3em 0;
  }

  .content {
    @include outer-container;
    @include clearfix;
  }

  .content article {
    @include media($medium-up) {
      margin: auto;
      width: 70%;
    }

    padding: 1em;
  }
}

.profile-middle {
  background-color:    #fff;
  background-image:    url('bg/bg03.png'),   url('bg/bg04.png'),   url('bg/bg02.png');
  background-repeat:   no-repeat,                no-repeat,                repeat;
  background-size:     100% 15em,                100% 15em,                auto auto;
  background-position: top center,               bottom center,            top left;
  color: $ch-gray-1;

  h3 {
    color: $ch-gray-2;
  }

  p.date {
    color: $ch-white-2;
  }
}

.profile-bottom {
  background: $bg-color;
  padding-bottom: 0;

  .themuhibbain-pic {
    padding-top: 3em;

    img {
      display: block;
    }
  }
}
