@charset "utf-8";

// Base
@import "base";

// Animation.scss
// @import "animate-scss/src/animate";

// ==================================================
// Main stylesheet

// base styles
html {
  height: 100%;
}

$bg-gray: tint($lcm-gray, 20);

body {
  background: $bg-gray;
  @include texture(180deg, lighten($bg-gray, 0), darken($bg-gray, 20), 67, 1);
  font-weight: 300;
  // height: 100%;
  margin: 0;
  padding: 0;
}

p, div, h1, h2, h3, h4, h5, h6 {
  transition: font-size .5s;
}

hr {
  border-bottom: 2px solid tint($lcm-gray, 20);
  width: 40%;
  margin: 1.5em auto;
}

.container {
  @include outer-container(100%);
  @include clearfix;
  height: 100%;
}

.masthead {
  @include media($large-up) {
    @include span-columns(6 of 12, block-collapse);
  }

  min-height: 100%;
  background: $lcm-red;
  // @include texture(180deg, lighten($lcm-red, 0), darken($lcm-red, 30), 67, 1);
  box-shadow: 10px 0 20px rgba(#000, .3);

  .hero {
    .hero-logo img {
      width: 400px;
      max-width: 100%;
      margin-bottom: 6em;
    }

    .hero-inner {
      @include outer-container;
      @include clearfix;

      padding: $base-spacing*4 $base-spacing;
      text-align: center;
      color: #fff;

      button {
        @include button(simple, $base-background-color);
        font-size: $base-font-size;
        outline: none;
      }

      .hero-copy {
        h1 {
          margin-bottom: 2em;
          text-transform: uppercase;
          font-size: 1.8em;
          font-weight: 300;
          line-height: 1;
          letter-spacing: .1em;

          @include media($medium-up) {
            font-size: 2em;
            letter-spacing: .2em;
          }
        }

        h6 {
          font-family: $sans-serif;
          font-size: 1em;
          font-weight: 100;
          letter-spacing: .1em;
          text-transform: uppercase;

          @include media($medium-up) {
            font-size: 1.2em;
          }
        }

        p {
          font-weight: 100;
          font-size: 1.2em;
          line-height: 1.2;
          margin-top: 1em;
          letter-spacing: .05em;

          img {
            height: 1em;
            margin: 0 .2em;
          }

          @include media($medium-up) {
            font-size: 1.4em;
          }
        }
      }

      hr {
        border-color: rgba(#fff, .4);
        margin: 5em auto;
      }

      .hero-store {
        @include media($small) {
          font-size: .8em;
        }

        h6 {
          margin: 0 0 .5em;
          opacity: .7;
        }

        ul li {
          display: inline-block;
        }

        img {
          height: 3em;
          vertical-align: baseline;
          margin: 0 .3em;
          opacity: .7;
          transition: opacity .3s;

          &:hover {
            opacity: 1;
          }
        }

        .st-apple {
          height: 3.8em;
        }
      }
    }
  }

  .video {
    margin: auto;
    background: $bg-gray;

    @include media($large-screen) {
      width: 100%;
    }
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
    padding-bottom: 44%;
    height: 0;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.main-right {
  @include media($large-up) {
    @include span-columns(6 of 12, block-collapse);
  }

  // min-height: 100%;
  background: #fff;
  box-shadow: 10px 0 20px rgba(#000, .3);
}

.lcm {
  background: rgba(#fff, .9);

  .lcm-inner {
    @include outer-container;
    @include clearfix;
    padding: 2em;
  }

  h2 {
    text-align: center;
  }

  .logo {
    width: 100%;
    max-width: 100%;
  }
}

.tracklist {
  .tracklist-inner {
    @include outer-container;
    @include clearfix;

    padding: 0 2em 4em;
  }
}

.themuhibbain {
  background: url(/assets/img/themuhibbain.jpg) center bottom no-repeat;
  background-size: auto 500px;
  height: 500px;
  transition: height .8s;

  @include media($medium-up) {
    background-size: auto 100%;
    height: 800px;
  }
}

.footer {
  $footer-color: white;
  $footer-link-color: rgba($footer-color, .5);

  @include clearfix;

  // background: none;
  padding: $base-spacing;
  width: 100%;
  text-align: center;

  hr {
    border-color: rgba(#fff, .2);
    @include media($large-up) {
      display: none;
    }
  }

  .footer-left {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-up) {
      float: left;
      margin-bottom: 0;
    }

    img {
      vertical-align: middle;
      opacity: .7;
      margin: 0 .4em;

      &:first-child, &:last-child {
        margin: 0;
      }
    }

    .ft-all { height: 2.5em; }
    .ft-tm { height: 2em; }
    .ft-lcm { height: .8em; }
    .ft-inteam { height: 1.8em; }
    .ft-sony { height: 1.5em; vertical-align: bottom; }
  }

  .footer-right {
    @include media($large-up) {
      float: right;
    }

    .footer-text {
      @include media($large-up) {
        float: left;
        margin-right: 2em;
        text-align: right;
      }

      color: $footer-link-color;

      p {
        margin: 0;
        font-size: .8em;
        line-height: 1.1;
      }
      p.manager {
        font-size: 1em;
        line-height: 1.1;
      }

      a {
        color: $footer-link-color;
        &:hover {
          color: tint($footer-link-color, 50);
        }
      }
    }

    ul.footer-social {
      margin-top: .5em;

      @include media($large-up) {
        float: left;
        margin-top: 0;
      }

      li {
        display: inline-block;
        font-size: 1em;
        padding-right: 1em;
        font-weight: 300;
        letter-spacing: .08em;
        line-height: 2;
        height: 2em;
        color: $footer-link-color;

        &:last-child {
          padding-right: 0;
        }

        a {
          color: $footer-link-color;
          display: block;

          &:hover {
            color: transparentize($footer-color, 0);
          }
        }
      }

      img {
        opacity: .5;
        height: 2em;
        padding: 1px;
        transition: opacity .2s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
