@charset "utf-8";

// Base
@import "base";

// Animation.scss
// @import "animate-scss/src/animate";

// ==================================================
// Main stylesheet

// base styles
html {
  // height: 100%;
}

body {
  background: #fff;
  font-weight: 300;
  // height: 100%;
  margin: 0;
  padding: 0;
}

.masthead {
  .lcm-hero {
    background: $lcm-red;
    padding: 4em 0;

    .hero-logo img {
      width: 400px;
      max-width: 100%;
      margin-bottom: 3em;
    }

    .hero-inner {
      @include outer-container;
      @include clearfix;

      padding: 2em;
      margin: auto;
      text-align: center;
      color: #fff;

      button {
        @include button(simple, $base-background-color);
        font-size: $base-font-size;
        outline: none;
      }

      .hero-copy {
        text-align: center;

        h1 {
          font-size: 2em;
          margin-bottom: .5em;
          letter-spacing: .2em;
          text-transform: uppercase;
          font-weight: 300;
          line-height: .9;
        }

        p {
          margin: auto;
          // margin-bottom: 3em;
          font-weight: 100;
          font-size: 1.5em;
          line-height: .9;

          @include media($large-screen) {
            // font-size: 1.1em;
            max-width: 80%;
          }
        }

        .lcm {
          font-size: 0;
        }

        img {
          height: .7em;
          margin: 0 .1em;
        }
      }
    }
  }
}

.lcm-top {
  background: rgba(#fff, .9);

  .top-inner {
    @include outer-container;
    @include clearfix;
    padding: 2em;
  }

  h2 {
    font-size: 0;
    text-align: center;
  }

  .logo {
    width: 400px;
    max-width: 100%;
  }
}

.tracklist {
  .tracklist-inner {
    @include outer-container;
    @include clearfix;

    padding: 2em;
  }
}

.themuhibbain {
  background: url(/assets/img/themuhibbain.jpg) center bottom no-repeat;
  background-size: auto 500px;
  height: 500px;
  transition: height .8s;

  @include media($medium-screen-up) {
    background-size: auto;
    height: 950px;
  }

}


.footer {
  background: $lcm-gray;
  color: #fff;
  text-align: center;

  .footer-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em 2em;
  }

  h5 {
    font-weight: 500;
    letter-spacing: .2em;
  }
  h6 {
    font-weight: 300;
  }
}





@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?qea602');
  src:url('../fonts/icomoon.eot?#iefixqea602') format('embedded-opentype'),
    url('../fonts/icomoon.woff?qea602') format('woff'),
    url('../fonts/icomoon.ttf?qea602') format('truetype'),
    url('../fonts/icomoon.svg?qea602#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social {
  margin-top: 2rem;

  a {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 0 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: none;

    background: rgba(#fff, .1);
    transition: background .3s, color .3s;

    &:before {
      font-family: 'icomoon';
      speak: none;
      font-size: 30px;
      line-height: 80px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      display: block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &:after {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      content: '';
      box-sizing: content-box;

      top: -3px;
      left: -3px;
      padding: 3px;
      box-shadow: 0 0 0 2px #fff;
      transition: transform .3s, opacity .3s;
      transform: scale(.8);
      opacity: 0;
    }

    &:hover {
      background: rgba(#fff, 1);
      color: $mint-dark;

      &:after {
        transform: scale(1);
        opacity: 1;
      }
    }

    &.i-cart:before {
      content: "\e600";
    }
    &.i-cart2:before {
      content: "\e601";
    }
    &.i-cart3:before {
      content: "\e602";
    }
    &.i-facebook:before {
      content: "\e603";
    }
    &.i-instagram:before {
      content: "\e604";
    }
    &.i-twitter:before {
      content: "\e605";
    }
    &.i-youtube:before {
      content: "\e606";
    }
    &.i-youtube2:before {
      content: "\e607";
    }
  }

  // @media #{$small-only} {
  //   a {
  //     width: 60px;
  //     height: 60px;
  //     margin: 0;
  //   }
  //   a:before {
  //     font-size: 22px;
  //     line-height: 60px;
  //   }
  // }
}
