@charset "utf-8";

// Base
@import "base";

// Animation.scss
// @import "animate-scss/src/animate";

// ==================================================
// Main stylesheet

// base styles
html {
  height: 100%;
}

body {
  background: #fff;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}

p, div, h1, h2, h3, h4, h5, h6 {
  transition: font-size .5s;
}

hr {
  border-bottom: 2px solid tint($lcm-gray, 20);
  width: 40%;
  margin: 1.5em auto;
}

.masthead {
  min-height: 100%;
  background: $lcm-red;

  @include media($large-up) {
    padding-top: 6em;
  }

  .hero {
    .hero-logo img {
      width: 500px;
      max-width: 100%;
      margin-bottom: 3em;
    }

    .hero-inner {
      @include outer-container;
      @include clearfix;

      padding: $base-spacing*4 $base-spacing;
      text-align: center;
      color: #fff;

      button {
        @include button(simple, $base-background-color);
        font-size: $base-font-size;
        outline: none;
      }

      .hero-copy {
        h1 {
          margin-bottom: 1.5em;
          text-transform: uppercase;
          font-size: 1.8em;
          font-weight: 300;
          line-height: .9;
          letter-spacing: .1em;

          @include media($medium-up) {
            font-size: 2.5em;
            letter-spacing: .2em;
          }
        }

        h6 {
          font-size: 1.5em;
          font-weight: 300;
          letter-spacing: .2em;

          @include media($medium-up) {
            font-size: 1.8em;
          }
        }

        p {
          font-weight: 100;
          font-size: 1.2em;
          line-height: 1.2;
          margin-top: 1em;
          letter-spacing: .1em;

          img {
            height: 1em;
            margin: 0 .2em;
          }

          @include media($medium-up) {
            font-size: 1.5em;
          }
        }
      }

      hr {
        border-color: rgba(#fff, .4);
        margin: 5em auto;
      }

      .hero-store {
        @include media($small) {
          font-size: .8em;
        }

        h6 {
          margin: 0 0 .5em;
          opacity: .7;
        }

        ul li {
          display: inline-block;
        }

        img {
          height: 3em;
          vertical-align: baseline;
          margin: 0 .3em;
          opacity: .7;
          transition: opacity .3s;

          &:hover {
            opacity: 1;
          }
        }

        .st-apple {
          height: 3.8em;
        }
      }
    }
  }
}

.lcm {
  background: rgba(#fff, .9);

  .lcm-inner {
    @include outer-container;
    @include clearfix;
    padding: 6em 2em;
  }

  h2 {
    text-align: center;
  }

  .logo {
    width: 500px;
    max-width: 100%;
  }
}

.tracklist {
  .tracklist-inner {
    @include outer-container;
    @include clearfix;

    padding: 0 2em 4em;
  }
}

.themuhibbain {
  background: url(/assets/img/themuhibbain.jpg) center bottom no-repeat;
  background-size: auto 500px;
  height: 500px;
  transition: height .8s;

  @include media($medium-up) {
    background-size: auto;
    height: 950px;
  }
}

.footer {
  $footer-background: tint($lcm-gray, 10);
  $footer-color: white;
  $footer-link-color: rgba($footer-color, .5);

  @include clearfix;

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  text-align: center;

  hr {
    border-color: rgba(#fff, .2);
    @include media($large-up) {
      display: none;
    }
  }

  .footer-left {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-up) {
      float: left;
      margin-bottom: 0;
    }

    img {
      vertical-align: middle;
      opacity: .8;
      margin: 0 .4em;

      &:first-child, &:last-child {
        margin: 0;
      }
    }

    .ft-all { height: 2.5em; }
    .ft-tm { height: 2em; }
    .ft-lcm { height: .8em; }
    .ft-inteam { height: 1.8em; }
    .ft-sony { height: 1.5em; vertical-align: bottom; }
  }

  .footer-right {
    // line-height: 2;
    // height: 2em;

    @include media($large-up) {
      float: right;
    }

    ul li {
      padding-right: 1em;
      font-weight: 300;
      font-size: .9em;
      letter-spacing: .1em;
      line-height: 2;
      height: 2em;
      display: inline;
      color: $footer-link-color;
    }

    ul li a {
      color: $footer-link-color;
      display: block;

      &:hover {
        color: transparentize($footer-color, 0);
      }
    }

    ul.footer-nav {
      @include media($large-up) {
        float: left;
        margin-right: 1em;
      }

      li {
        display: inline-block;
        &:last-child {
          padding-right: 0;
        }
      }
    }

    ul.footer-social {
      @include media($large-up) {
        float: left;
        margin-top: 0;
      }

      li {
        display: inline-block;
        font-size: 1em;
        padding-right: .7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        opacity: .5;
        height: 2em;
        padding: 1px;
        transition: opacity .2s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
