<footer class="footer">
  <div class="footer-left">
    <ul class="footer-labels">
      <li><img src="/assets/img/footer-color-01.svg" alt="The Muhibbain"></li>
      <li><img src="/assets/img/footer-color-02.svg" alt="#LoveCintaMahabbah"></li>
      <li><a href="http://madrasahmahabbah.com/mabkhoor-music" target="_blank"><img src="/assets/img/footer-color-05.svg" alt="Mabkhoor Music"></a></li>
      <li><a href="http://madrasahmahabbah.com" target="_blank"><img src="/assets/img/footer-color-06.svg" alt="Madrasah Mahabbah"></a></li>
      <li><a href="https://www.facebook.com/InteamRecords" target="_blank"><img src="/assets/img/footer-color-03.svg" alt="Inteam Records"></a></li>
      <li><a href="https://www.facebook.com/sonymusicmy" target="_blank"><img src="/assets/img/footer-color-04.svg" alt="Sony Music (M)"></a></li>
    </ul>
  </div>

  <div class="footer-right">
    <ul class="footer-social">
      <li><a href="https://www.facebook.com/pages/The-Muhibbains/279680398756012" target="_blank"><img src="/assets/img/social-facebook-color.svg" alt="Facebook"></a></li>
      <li><a href="https://twitter.com/Muhibbain" target="_blank"><img src="/assets/img/social-twitter-color.svg" alt="Twitter"></a></li>
      <li><a href="http://instagram.com/themuhibbain" target="_blank"><img src="/assets/img/social-instagram-color.svg" alt="Instagram"></a></li>
      <li><a href="http://www.youtube.com/user/TheMuhibbains" target="_blank"><img src="/assets/img/social-youtube-color.svg" alt="YouTube"></a></li>
    </ul>

    <div class="footer-text">
      <p class="manager">Artist Management +6019 283 2714 (Fariq Azmi)</p>
      <p class="copy">&copy; 2014 The Muhibbain. Developed &amp; designed by <a href="https://twitter.com/wansaleh">@wansaleh</a> &amp; <a href="https://twitter.com/frizdan">@frizdan</a></p>
    </div>
  </div>
</footer><!-- /footer -->
