<main class="masthead" role="main">
  <div class="container">
    <div class="row">
      <h1>Soon. Very soon.</h1>
    </div>
  </div>

  <!-- <div class="container">
    <div class="row">
      <div class="large-12 columns">
        <div class="social">
          <a class="i-facebook"  href="http://facebook.com/caravanofpraise">Facebook</a>
          <a class="i-youtube"   href="https://www.youtube.com/channel/UCHCtQz9Y1gbzbmUwMwNNjhg">Youtube</a>
          <a class="i-instagram" href="http://instagram.com/caravanofpraise">Instagram</a>
          <a class="i-cart2"     href="http://inteammobile.com/v2">Store</a>
        </div>
      </div>
    </div>
  </div> -->
</main>
