---
title: "Not Found &middot; 404 Error"
css: page-404
directory_index: false
---

<header class="toplogo">
  <nav>
    <a href="/" class="top-logo"><img src="/assets/img/logo-themuhibbain-white.svg" alt="The Muhibbain"></a>
  </nav>
</header>

<main>
  <div class="bg">
    <div class="bg-inner"></div>
  </div>

  <div class="content">
    <h1>We're sorry, but <span>nothing's here.</span></h1>

    <a href="/"><i class="fa fa-home"></i> Homepage</a>
  </div>
</main>

<%= partial "footer" %>
