<main class="masthead" role="main">
  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="/assets/img/logo-themuhibbain-white.svg" alt="The Muhibbain"></a>

      <div class="hero-copy">
        <h6>Wishes you</h6>
        <h1>Ahlan Wasahlan</h1>

        <p>Our album <img src="/assets/img/logo-lcm-white.svg" alt="#LOVECINTAMAHABBAH"> is available now!<br>Get it at your nearest music store.</p>
      </div>

      <hr>

      <div class="hero-store">
        <h6>Available on:</h6>
        <ul>
          <li><a href="https://itunes.apple.com/my/album/lovecintamahabbah/id924643046" target="_blank"><img class="st-apple" src="/assets/img/apple-white.svg" alt=""></a></li>
          <li><a href="https://play.spotify.com/album/0NjaxjrJjnqm5PPqazyS1D" target="_blank"><img class="st-spotify" src="/assets/img/spotify-white.svg" alt=""></a></li>
          <li><a href="http://www.deezer.com/album/8815063" target="_blank"><img class="st-deezer" src="/assets/img/deezer-white.svg" alt=""></a></li>
          <li><a href="http://inteammobile.com/v2" target="_blank"><img class="st-inteam" src="/assets/img/logo-inteam-white.svg" alt=""></a></li>
        </ul>
      </div>
      <!-- <button>Learn More</button> -->
    </div>
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="large-12 columns">
        <div class="social">
          <a class="i-facebook"  href="http://facebook.com/caravanofpraise">Facebook</a>
          <a class="i-youtube"   href="https://www.youtube.com/channel/UCHCtQz9Y1gbzbmUwMwNNjhg">Youtube</a>
          <a class="i-instagram" href="http://instagram.com/caravanofpraise">Instagram</a>
          <a class="i-cart2"     href="http://inteammobile.com/v2">Store</a>
        </div>
      </div>
    </div>
  </div> -->
</main>

<section class="lcm">
  <div class="lcm-inner">
    <h2>
      <img class="logo" src="/assets/img/logo-lcm.svg" alt="">
    </h2>
  </div>
</section>

<section class="tracklist">
  <div class="tracklist-layer">
    <div class="tracklist-inner">
      <img src="/assets/img/lcm-tracklist.svg" alt="">
    </div>
  </div>
</section>

<section class="themuhibbain">
</section>

<footer class="footer">
  <div class="footer-left">
    <img class="ft-all" src="/assets/img/logo-all.svg" alt="">
  </div>

  <hr>

  <div class="footer-right">
    <ul class="footer-nav">
      <li>Artiste Management +6011 3261 4992 (Mr. Fariq)</li>
      <!-- <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li> -->
    </ul>

    <ul class="footer-social">
      <li><a href="javascript:void(0)">
        <img src="/assets/img/facebook-circle.svg" alt="Facebook">
        </a></li>
      <li><a href="javascript:void(0)">
        <img src="/assets/img/instagram-circle.svg" alt="Twitter">
      </a></li>
      <li><a href="javascript:void(0)">
        <img src="/assets/img/youtube-circle.svg" alt="YouTube">
      </a></li>
    </ul>
  </div>
</footer>
