<main class="masthead" role="main">
  <div class="lcm-hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="/assets/img/logo-themuhibbain-white.svg" alt="The Muhibbain"></a>

      <div class="hero-copy">
        <h4>Wishes you</h4>
        <h1>Ahlan Wasahlan</h1>
        <p>Get <span class="lcm">#LOVECINTAMAHABBAH</span><img src="/assets/img/logo-lcm-white.svg" alt="#LOVECINTAMAHABBAH"> at your nearest music store.</p>
      </div>
      <!-- <button>Learn More</button> -->
    </div>
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="large-12 columns">
        <div class="social">
          <a class="i-facebook"  href="http://facebook.com/caravanofpraise">Facebook</a>
          <a class="i-youtube"   href="https://www.youtube.com/channel/UCHCtQz9Y1gbzbmUwMwNNjhg">Youtube</a>
          <a class="i-instagram" href="http://instagram.com/caravanofpraise">Instagram</a>
          <a class="i-cart2"     href="http://inteammobile.com/v2">Store</a>
        </div>
      </div>
    </div>
  </div> -->
</main>

<div class="lcm-top">
  <div class="top-inner">
    <h2>
      #LOVECINTAMAHABBAH
      <img class="logo" src="/assets/img/logo-lcm.svg" alt="">
    </h2>
  </div>
</div>

<section class="tracklist">
  <div class="tracklist-layer">
    <div class="tracklist-inner">
      <img src="/assets/img/lcm-tracklist.svg" alt="">
    </div>
  </div>
</section>

<section class="themuhibbain">
</section>

<footer class="footer">
  <div class="footer-inner">
    <h5>Copyright &copy; 2014 The Muhibbain</h5>
    <h6>Developed by @wansaleh &amp; designed by @frizdan</h6>
  </div>
</footer>