---
title: "#LoveCintaMahabbah"
---
<div class="wrapper">
  <div class="row">
    <div class="masthead">
      <main class="hero">
        <div class="hero-overlay"></div>

        <div class="hero-inner">
          <div class="hero-copy">
            <h1 class="hero-logo"><a href="/"><img src="/assets/img/logo-themuhibbain-white.svg" alt="The Muhibbain"></a></h1>

            <h3>Wishes you</h3>
            <h2>Ahlan Wasahlan</h2>

            <p>We are Erwan &amp; Adib. <a href="/profile">We call ourselves <b>The Muhibbain</b>.</a></p>
          </div>

          <div class="hero-likes">
            <a href="https://www.facebook.com/pages/The-Muhibbains/279680398756012" target="_blank"><i class="fa fa-facebook"></i><span class="facebook-count"></span></a>

            <a href="https://instagram.com/themuhibbain" target="_blank"><i class="fa fa-instagram"></i><span class="instagram-count"></span></a>

            <a href="https://twitter.com/Muhibbain" target="_blank"><i class="fa fa-twitter"></i><span class="twitter-count"></span></a>

            <a href="http://www.youtube.com/user/TheMuhibbains" target="_blank"><i class="fa fa-youtube-play"></i><span class="youtube-count"></span></a>
          </div>

          <div class="social-plugins">
            <div class="fb-like" data-href="http://themuhibbain.com" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

            <a class="twitter-share-button" href="https://twitter.com/share" data-count="none" data-url="http://themuhibbain.com" data-via="Muhibbain">Tweet</a>
            <script type="text/javascript">window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));</script>

            <a href="https://twitter.com/Muhibbain" class="twitter-follow-button" data-show-count="false">Follow @Muhibbain</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </div>
      </main>

      <!-- <div class="video">
        <div class="video-wrapper">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/Sa7vEkvz9VE?feature=player_embedded&autohide=1&controls=1&modestbranding=1&showinfo=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> -->

      <div class="instagramfeed">
      </div>
    </div><!-- /.masthead -->

</div><!-- /.wrapper -->

<%= partial "footer" %>
